.git
.gitignore
.env
node_modules
vendor
storage/logs/_
storage/framework/cache/_
storage/framework/sessions/_
storage/framework/views/_
bootstrap/cache/_
.DS_Store
Thumbs.db
_.log
.idea
.vscode
.phpunit.result.cache
phpunit.xml
.editorconfig
README.md
Documentation
tests
