.git
.gitignore
.env
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
Thumbs.db
*.log
.idea
.vscode
.phpunit.result.cache
phpunit.xml
.editorconfig
README.md
Documentation
tests
